.titulo-cabecalho {
    text-align: center;
    font-size: 25px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-form {
    width: 80%;
    border: 1px solid black;
    margin-top: 15px;
}

.botao-form {
    --border-radius: 20px;
    font-size: 15px;
}