<ion-header style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
  <ion-row>
    <ion-col size="3">
      <ion-button style="--background: transparent;" (click)="RetornaPagina()">
        <ion-icon name="chevron-back-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <p class="titulo-cabecalho">Nova Tarefa</p>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <ion-list class="container-form">
    <ion-item class="input-form">
      <ion-input placeholder="Título"></ion-input>
    </ion-item>
    <ion-item class="input-form">
      <ion-input placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item class="input-form">
      <ion-input placeholder="Título"></ion-input>
    </ion-item>
    <ion-item class="input-form">
      <ion-input placeholder="Título"></ion-input>
    </ion-item>
  </ion-list>

  <ion-row class="ion-justify-content-center">
    <ion-col size="5">
      <ion-button class="botao-form">Cancelar</ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button class="botao-form">Adicionar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
