.titulo-cabecalho {
    text-align: center;
    font-size: 25px;
}

.tarefa {
    background-color: antiquewhite;
    margin-bottom: 25px;
    border-radius: 4px;
}

.tarefa-titulo {
    text-align: center;
    border-bottom: 1px solid black;

}