<ion-header class="cabecalho">
  <span class="titulo-cabecalho"> App-Note</span>
</ion-header>
<ion-content>
  <div class="centralizar">
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" class="ion-text-center "style="margin-bottom: 10px;">
        <ion-card  class="menu-inicio" (click)="Rota('tarefa')">Tarefas</ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" class="ion-text-center" style="margin-right: 10px;">
        <ion-card  class="menu-inicio" (click)="Rota('tarefa')">Eventos</ion-card>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <ion-card  class="menu-inicio" (click)="Rota('tarefa')">Compras</ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" class="ion-text-center " style="margin-top: 10px;">
        <ion-card class="menu-inicio" (click)="Rota('tarefa')">Lembretes</ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>;