.centralizar {
    position: relative;  
    top: 30%;
}

.menu-inicio {
    height: 90px;
    width: 90px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
